body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #28323d;
}
.container {
        max-width: 800px;
        margin: auto;
}

.title {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: #141b22;
}